<% provide :title, "Home" %>
<% if current_user %>
  <p>Hello <%= current_user.name %></p>
  <%= link_to "All books", books_path , class: "btn btn-primary" %>
  <% if current_user.admin? %>
    <%= link_to "Create book", new_admin_book_path , class: "btn btn-primary" %>
    <%= link_to "All users", admin_users_path , class: "btn btn-primary" %>
    <%= link_to "Create user", new_admin_user_path , class: "btn btn-primary" %>
    <%= link_to "All author", admin_authors_path , class: "btn btn-primary" %>
    <%= link_to "All publishers", admin_publishers_path , class: "btn btn-primary" %>
  <% end %>
<% else %>
  <div class="center jumbotron">
    <h1>Welcome to the Library Management</h1>
    <%= link_to "Sign up now!", new_user_registration_path , class: "btn btn-lg btn-primary" %>
  </div>
<% end %>
