<h2>Edit </h2>
<div class="row">
  <div class="col-md-6 col-md-offset-3-edit-user">
    <%= form_for :book, url: {action: :update, controller: :books}, method: :put do |f| %>
      <h3 id="signup-form-admin">Update Author</h3>
      <%= f.label :title %><br />
      <%= f.text_field :title, class: "form-control" %>
      <%= f.label :description %><br />
      <%= f.text_field :description, class: "form-control" %>
      <%= f.label :price %><br />
      <%= f.number_field :price, class: "form-control" %>
      <%= f.file_field :image %>
      <%= f.label "Available" %>
      <%= f.radio_button(:role, "available") %>
      <%= f.label "Unavailable", class: "label_role" %>
      <%= f.radio_button(:role, "unavailable") %>
      <h2>Author</h2>
      <%= f.select :author_ids, options_for_select(Author.all.map {|author| [author.name, author.id]}), {}, multiple: true %>
      <%= link_to "Create author", new_admin_author_path , class: "btn btn-primary" %>
      <h2>Publisher</h2>
      <%= f.select :publisher_ids, options_for_select(Publisher.all.map {|publisher| [publisher.name, publisher.id]}), {}, multiple: true %>
      <%= link_to "Create publisher", new_admin_publisher_path , class: "btn btn-primary" %>
      <div class="form-group row">
        <div class="col-sm-10">
          <button type="submit" class="btn btn-primary">Update my book</button>
        </div>
      </div>
    <% end %>
  </div>
</div>
