<h2>Edit <%= resource_name.to_s.humanize %></h2>
<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>
  <div class="row">
    <div class="form-group col-md-6">
    <%= f.label :name %><br />
    <%= f.text_field :name, class: "form-control" %>
    <%= f.label :phone %><br />
    <%= f.telephone_field :phone, class: "form-control" %>
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <div>Currently wariting confimation for: <%= resource.unconfirmed_email %></div>
    <% end %>
    <%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
    <%= f.password_field :password, autocomplete: "new-password", class: "form-control" %>
    <% if @minimum_password_length %>
      <br />
    <% end %>
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control" %>
    <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
    <%= f.password_field :current_password, autocomplete: "current-password", class: "form-control" %>
  </div>
</div>
   <div class="form-group row">
    <div class="col-sm-10">
      <button type="submit" class="btn btn-primary">Update</button>
      <%= link_to "Back", root_path, class:"btn btn-primary" %>
    </div>
  </div>
<% end %>
