<% provide(:title, "Giỏ Hàng") %>
<div id="container-show-cart">
  <div id="text-show-1">
    <%= link_to "Home", books_path, class: "btn btn-primary" %>
  </div>
  <hr>
  <hr>
  <div id="show-cart-1">
      <div id="text-cart-1">
        <h4><i>Tổng số sản phẩm: <%= @quantity %></i></h4>
      </div>
      <div id="button-show-cart">
        <%= button_to 'Delete',
          @cart,
          :method => :delete,
          data: {:confirm => 'Are you sure?'},
          class: "btn btn-primary"
        %>
      </div>
  </div>
  <div id="content">
    <div id="content-1">
      <h4>Sản phẩm được thêm vào giỏ hàng:</h4>
      <table>
        <% @line_items.each do |item| %>
          <h2><%= item.quantity %>x&nbsp&nbsp&nbsp</h2>
          <h2><%= item.book.title %></h2>
        <% end %>
        <hr>
      </table>
    </div>
    <div id="content-2">
      <tr class="total_line">
        <td colspan="2">Tổng tiền: </td>
        <td class="total_cell"><%= number_to_currency(@cart.total_price, unit: '', precision: 0) %></td>
      </tr>
      <%= button_to 'Checkout', new_order_path, method: :get, class: "btn btn-primary" %><br>
    </div>
  </div>
</div>
