<%provide(:title, "Create Publisher")%>
<h1>Create Publisher</h1>
<div class="row">
  <div class="form-group col-md-6">
    <%= form_for @publisher, url: admin_publishers_path, method: :post do |f| %>
      <%= f.hidden_field :user_id, value: current_user.id %>
      <%= f.label :name %><br />
      <%= f.text_field :name, class: "form-control" %>
      <%= f.label :address %><br />
      <%= f.text_field :address, class: "form-control" %>
      <div class="form-group row">
        <div class="col-sm-10">
          <button type="submit" class="btn btn-primary">Create publisher</button>
          <%= link_to "Back", new_admin_book_path, class: "btn btn-primary" %>
        </div>
      </div>
    <% end %>
  </div>
</div>
